---
title: "身体1"
date: "2019-08-18 01:00"
tag: 
 - 分类词汇
 - 身体
---

:markdown
  From <https://www.yellowbridge.com/chinese/listsearch.php?listID=44>

  ### Sentence quiz

  Please see [`slide:github:patarapolw/zhdiary/slides/身体1.md`](slide:github:patarapolw/zhdiary/slides/身体1.md)

  Highlight text and press "x" inside the presentation to speak.

===

:markdown
  胳膊 | gēbo | arm
  手膀 | shǒubǎng | arm
  肚子 | dùzi | belly; abdomen; stomach
  臀部 | túnbù | butt; buttocks
  胸部 | xiōngbù | chest; bosom
  手肘 | shǒuzhǒu | elbow
  脸 | liǎn | face
  手指 | shǒuzhǐ | finger
  指甲 | zhǐjia | fingernail
  脚 | jiǎo | foot; leg (of an animal or an object); base (of an object); measure word for kicks
  头发 | tóufa | hair (on the head)
  手 | shǒu | hand; (formal) to hold; person engaged in certain types of work; person skilled in certain types of work; personal(ly); convenient; measure word for skill
  头 | tóu | head; hair style; the top; end; beginning or end; a stub; remnant; chief; boss; side; aspect; first; leading; measure word for pigs or livestock
  膝盖 | xīgài | knee
  腿 | tuǐ | leg
  脖子 | bózi | neck
  颈项 | jǐngxiàng | neck
  肩头 | jiāntóu | on one's shoulders; (dialect) shoulder
  手掌 | shǒuzhǎng | palm
  肩膀 | jiānbǎng | shoulder
  皮肤 | pífū | skin
  大腿 | dàtuǐ | thigh
  喉咙 | hóulóng | throat; larynx
  脚趾 | jiǎozhǐ | toe
  腰 | yāo | waist; lower back; pocket; middle; loins
  腕 | wàn | wrist; (squid, starfish etc) arm

style.
  table td:first-child {
    width: 4em;
  }